.DS_Store
desktop.ini
*.aux
*.bbl
*.blg
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.fdb_latexmk
*.fls
*.hi
*.hp
*.log
*.o
*.out
*.prof
*.synctex.gz
*.toc
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
cabal-dev
cabal.sandbox.config
dist
dist-*
*.cabal
